

.banner{
    background-color: #ed6f5b;
    padding: 55px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Patua One', cursive;
}
.menu{
  background-color: black;
  text-align: center;
  padding: 0;
  color: white;
  font-family: 'Patua One', cursive;

}
ul.menulist{
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.menu1, li.menu2, li.menu3, li.menu4{
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  li.menu1:hover, li.menu2:hover, li.menu3:hover, li.menu4:hover{
      background-color: #F4A89C;
    }
.content{
  margin-left: 80px;
  margin-right:80px;
  background-color: ;
    }
ul.info1{
   list-style-type: square;
   font-size: 17px;
}
.pic01{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 37%;
  border-radius: 68%;
}
.img1{

  float: left;
  width: 48%;

}
.img2{

  float: right;
  width: 48%;

}
.img3{
  float:left;
  width: 50%;

}
.content2{
float: left;
  width: 90%;
  margin-left: 80px;
  margin-right:80px;
}
.pic02{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 34%;
  border-radius: 50%;
}
